@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  background-color: #383838;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.header ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.header a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.header li a {
  color: #383838;
  font-size: 22px;
  padding: 8px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.header li a:hover,
.header li a.active {
  color: #fff;
  background-color: teal;
}

/* Home */

.container {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 1rem;
}

section {
  min-height: 90vh;
}

section h1 {
  border-bottom: 4px solid teal;
  width: fit-content;
}

.container p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 20px 0;
}

.userImage {
  border-radius: 50%;
  margin: 20px 0;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 3rem;
  background-color: #383838;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.footer__links {
  display: flex;
  gap: 30px;
}

.footer__links a {
  color: #fff;
  font-size: 2rem;
  transition: all 0.3s ease;
}

.footer__links a:hover {
  color: teal;
}

/* Projects */

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  margin: 30px 0;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.project img {
  width: 100%;
}

.project a {
  color: #383838;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.project h3 {
  margin: 10px 0;
}

.project a:hover {
  color: teal;
}

.project p {
  margin: 10px 0;
}

.project a.projectGithub {
  font-size: 2rem;
  color: #383838;
  transition: all 0.3s ease;
}

.project a.projectGithub:hover {
  color: teal;
}

.project:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.contact form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.contact form input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #383838;
  outline: none;
}

.contact form textarea {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #383838;
  outline: none;
}

.contact form button {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #383838;
  outline: none;
  background-color: teal;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form-message {
  color: teal;
  font-size: 1.2rem;
  font-weight: 600;
}

.resume h3 {
  margin: 30px 0;
}

.resumeLink {
  color: teal;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

.resume ul {
  margin: 10px 20px;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  nav {
    width: 100%;
  }

  .header ul {
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .header li a {
    font-size: 18px;
    padding: 8px 15px;
    width: 100%;
    display: block;
  }

  .container {
    margin: 20px auto;
  }

  .projects {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
